@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-display: var(--font-lexend), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #2b7cee;
  --color-secondary: #ffb800;
  --color-accent: #f97316;
  --color-background-light: #fefeff;
  --color-background-dark: #101822;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900;
  }
}

@keyframes fadeSlide {
  from { opacity: 0; transform: translateX(20px); }
  to   { opacity: 1; transform: translateX(0); }
}

.markdown-body {
  /* @apply prose prose-slate max-w-none dark:prose-invert; */
}
